   .navbar{align-items: stretch   ;}
   body{
        font-family: Arial, sans-serif;
        background-color: rgb(62, 34, 16);
        color: rgb(166, 74, 8);
        margin: 0;
        padding: 20px;
    }

    h1, h2, h3 {
        color: tan; 
    }

    p {
        line-height: 1.6;
        color: #666;
    }

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    
    }
.bg-body-tertiary {
        background-color: rgb(62, 34, 16) !important;
    }

    .navbar {
        background-color: rgb(62, 34, 16);
        padding: 10px;
    }

    .navbar-brand img {
        width: 150px;
        height: auto;
    }

    .nav-link {
        color: tan !important;
    }

    .nav-link:hover {
        color: #fff !important;
    }

    .container-fluid {
        max-width: 1200px;
        margin: auto;
    }
    .text-body-secondary {  
        bottom: 0;   
        width: 100%;
        color: tan !important;
    }
    .menu-info-menu {
        font-style: italic bold !important;
        color: tan;
        padding: 10px;
    }
   
    /* Start Menu Page */
	
	.menu-info {
		font-size: 1.3rem;
		color: tan;
		padding: 10px;
	}
	.options {
		font-size: 2.5rem;
		color: tan;
		padding: 50px 0;
	}
	
	.style {
		font-size: 1.5rem;
		color: tan;
		padding: 10px 0;
	}
	
	.ingredients {
		font-size: 1rem;
		color: tan;
		padding: 10px;
	}
	/* End Menu Page */
    /* start make page */
    .make-info {
        font-size: 1.3rem;
        color: tan !important;
        padding: 10px;
    }
    .h1 {
        font-size: 2.5rem;
        color: tan !important;
        padding-bottom: 200px;
    }
    .h2 {
        font-size: 2rem;
        color: tan !important;
        padding-bottom: 70%;
        padding-top: 70%;

    }
    .h3 {
        font-size: 1.5rem;
        color: tan !important;
        padding-bottom: 10px;
    }
    .justify-content-center {
        display: flex;
        justify-content: center;
        color:rgba(237, 91, 7, 0.637);
        padding: 20px;
    }
    /* end make page */
    /* start contact page */
    .form {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        background-color: rgb(62, 34, 16);
        border-radius: 5px;
    }
    /* end contact page */
    /* start footer */
    footer {
        background-color: rgb(62, 34, 16);
        color: tan;
        text-align: center;
        padding: 20px;
        position: relative;
        bottom: 0;
        width: 100%;
    }   
