   .navbar{align-items: stretch   ;}
   body{
        font-family: Arial, sans-serif;
        background-color: rgb(62, 34, 16);
        color: rgb(162, 78, 19);
        margin: 0;
        padding: 20px;
    }

    h1, h2, h3 {
        color: tan; 
    }

    p {
        line-height: 1.6;
        color: #666;
    }

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    
    }
.bg-body-tertiary {
        background-color: rgb(62, 34, 16) !important;
    }

    .navbar {
        background-color: rgb(62, 34, 16);
        padding: 10px;
    }

    .navbar-brand img {
        width: 150px;
        height: auto;
    }

    .nav-link {
        color: tan !important;
    }

    .nav-link:hover {
        color: #fff !important;
    }

    .container-fluid {
        max-width: 1200px;
        margin: auto;
    }
   #footer {
  position: fixed; 
  bottom: 0;
  width: 100%;  
    background-color: rgb(62, 34, 16);      
    color: tan !important;
       
       
	}
    /* Start Menu Page */
	
	.menu-info {
		font-size: 1.3rem;
		color: tan;
		padding: 10px;
	}
	.options {
		font-size: 2.5rem;
		color: tan;
		padding: 50px 0;
	}
	
	.style {
		font-size: 1.5rem;
		color: tan;
		padding: 10px 0;
	}
	
	.ingredients {
		font-size: 1rem;
		color: tan;
		padding: 10px;
	}
	/* End Menu Page */
    /* start make page */
    .make-info {
        font-size: 1.3rem;
        color: tan;
        padding: 10px;
    }