   body{
        font-family: Arial, sans-serif;
        background-color: rgb(62, 34, 16);
        color: rgb(162, 78, 19);
        margin: 0;
        padding: 20px;
    }

    h1, h2, h3 {
        color: tan; 
    }

    p {
        line-height: 1.6;
        color: #666;
    }

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    
    }
.bg-body-tertiary {
        background-color: rgb(62, 34, 16) !important;
    }

    .navbar {
        background-color: rgb(62, 34, 16);
        padding: 10px;
    }

    .navbar-brand img {
        width: 150px;
        height: auto;
    }

    .nav-link {
        color: tan !important;
    }

    .nav-link:hover {
        color: #fff !important;
    }

    .container-fluid {
        max-width: 1200px;
        margin: auto;
    }